@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

* {
    box-sizing: border-box;
}
:root{
    --white-color: #ffffff;
    --logo-color: RGB(255, 215, 0);
    --black-color:#000000;
}
.dark-theme{
    background-color: rgba(49, 49, 49, 0.81);
    color: white;
}
header{
    height: 16vh;
    z-index: 1;
}
.search{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 34em;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    color: black;
    
}


.resultBox li{
    list-style: none;
    border: 2px solid gray;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    border-radius: 0.2em;
    background-color: rgba(103, 242, 209, 0.8);
    width: 22em;
    cursor: pointer;
}
.hero{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    height: 100vh ;
    gap: 40em;
    background-color: #000000;
    z-index: 0;
}


.hero .text-hero {
    text-align: center;
}

.hero #hero-btn{
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 4rem;
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    background-color:transparent;     
    text-shadow: 0.4px 0.4px gray;
    cursor: pointer;
    transition: 0.6s;
}



.hero .text-hero h1{
    
    padding-left: 1.5rem;
    color: white;
    font-size: 60px;
    margin-bottom: 11px;
    font-family: "Truculenta", sans-serif;
    text-shadow: 1.5px 1.5px goldenrod;
    
}

.hero .text-hero p{
    padding-left: 1.5rem;
    color: white;
    font-size: 20px;
    font-family: "Truculenta", sans-serif;
    text-shadow: 0.1px 0.1px gray;
}



#page{
    display: grid;
    grid-template-areas: "head"
                        "main"
                        "footer";
    grid-template-rows: 0.3fr 2fr 0.2fr;
    margin: 0;
}
#warningContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color:transparent;
    z-index: 1000;
    background-color: transparent;
    padding: 20px;
    color: red;
    font-weight: bold;
    font-size: 21pt;
    border-radius: 5px;
}


#warningMessage {
    background-color: white;
    padding: 20px;
    color: red;
    font-weight: bold;
    border-radius: 5px;
}

#header{
    grid-area: head;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
#top-header{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    grid-template-areas: "menuLogo"
        "search"
        "loginCart";
}
#menu-logo-div{
    grid-area: menuLogo;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 4em;
    padding-top: 1em ;
    
}
#menu-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#menu{
    position: fixed;
    top: 60px;
    left: -150px;
    width: 150px;
    height: 100%;
    background-color:var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.3s;
    z-index: 1;
}

.menu-divs{
    border-bottom: 1pt solid;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
/* FILTER BUTTON */
#filter-button {
    align-items: center;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    margin-top: 4em;
    min-height: 2.5rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

#filter-button:hover,
#filter-button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

#filter-button:hover {
    transform: translateY(-1px);
}

#filter-button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}
/* RESET BUTTON */
#reset-button {
    align-items: center;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 2.5rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

#reset-button:hover,
#reset-button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

#reset-button:hover {
    transform: translateY(-1px);
}

#reset-button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/* LOGIN BUTTON */
#login-button {
    align-items: center;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 2.5rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    /* position: relative; */
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

#login-button:hover,
#login-button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

#login-button:hover {
    transform: translateY(-1px);
}

#login-button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

#main-link{
    text-align: center;
    /* padding-left: 3em; */
    color:var(--logo-color);
}
#search-div{
    grid-area: search;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding-top: 1.5em;
    padding-left: 2em;
}
#search-box {
    margin-left: 2em;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 1em;
    padding-left: 0.7em;
    
}
#search-box:focus{
    border-color:var(--black-color);
}
#search-icon{
    cursor: pointer;
    width: 2em;
}
#search-icon:hover{
    width: 2.3em;
}

/* LOGIN CART DIVISION */
#login-cart-div{
    margin-top: 1em;
    grid-area: loginCart;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#cart-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
#cart-icon{
    width: 2em;
    height: fit-content;
}

#mode-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
#mode-icon{
    width: 2em;
    height: fit-content;
}
#counter {
    position: relative;
    bottom: 4px;
    right: 19px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}
/* MAIN */

#main{
    grid-area: main;
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(1, minmax(10em, 30em));
    gap: 13em;


}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border-style: solid;
    border-radius: 20px;
}
.photo-div{
    height: 100%;
}

.photo{
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.4);
    
    
}
#item-desc-div{
    margin-left: 0.3em;
}
.disc{
   font-family:'Trebuchet MS', sans-serif;
   font-weight: 100;
   font-size: 1em;
}
.name-product{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0;
}
.item-price{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 1em;
}

.item-button-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 0.9em;
    justify-content: center;
    align-items: center;
}

.item-buttons {
    align-items: center;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 2.5rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    /* position: relative; */
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    border-radius: 20px;
}

.item-buttons:hover,
.item-buttons:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.item-buttons:hover {
    transform: translateY(-1px);
}

.item-buttons:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}
.item-buttons:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.ftNav{
    margin: 30px 0;
}
.ftNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.ftNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.ftNav ul li a:hover{
    opacity: 1;
}
.ftBtm{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.ftBtm p{
    color: white;
}
.designers{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/*HERO ANIMATIONS*/
#animatedProduct {

   
    padding-right: 55rem;
    }
    #animatedProduct img {
    position:absolute;
    top: 6em;
    right: 5em;
    height:40em;
    width:40em;
    }

    @-webkit-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

#animatedProduct img {
  -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 16s;

  -moz-animation-name: imgFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 16s;

  -o-animation-name: imgFade;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 16s;

  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 16s;
}

#animatedProductr img:nth-of-type(1) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}
#animatedProduct img:nth-of-type(2) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}
#animatedProduct img:nth-of-type(3) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#animatedProduct img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}


@media screen and (min-width: 500px) {
    #page {
        gap: 0;
    grid-template-rows: 98px 1fr 400px;
   }

   #main{
    align-items: center;
    justify-content: center;
    margin-top: 75em;
   }

   header{
    flex-direction: column;
    align-items: center;
    height: 10em;
   }

   #main-link{
    position: absolute;
    left: 12.4em;
   }

   #login-cart-div{
    position: absolute;
    left: 13em;
    top: 5em;
   }

   .hero{
    margin-top: 10em;
    flex-direction: column;
    position: absolute;
    height: 55em;

   }

   #animatedProduct {
    position: absolute;
    }

    #animatedProduct img {
    position:absolute;
    left:0;
    height:20em;
    width:20em;
    left: 18em;
    top: 30em;
    }

    .search{
        position: absolute;
        left: 5.5em;
        top: 10em
    }
    
}

@media screen and (min-width: 800px) {

    #main-link{
        left: 19em;
    }

    #login-cart-div{
        left: 20em;
    }
    .search{
        position: absolute;
        left: 12em;
        top: 10em
    }

    
}

@media screen and (min-width: 1100px) {

   

    #page {
        grid-template-rows: 0.1fr 3fr 0.2fr;
    }

    #main {
        align-items: normal;
        grid-template-columns: repeat(2, minmax(20em, 30em));
        

    }

    #page {
    grid-template-rows: 0px 1fr 400px;
   }

    header{
    height: 7em;
    }

    #main-link{
        left: 7em;
        top: 2em;
    }

    #login-cart-div{
        left: 55em;
        top: 1em;
    }

    .search{
        left: 21em;
        top: 1em;
    }

    .hero{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15rem;
        align-items: center;
        flex-direction: row-reverse;
        height: 100vh;
        background-color: #000000;
        width: 100%;
        margin-top: 7em;
    }

  
    #animatedProduct img {
        position:absolute;
        left:0;
        height:40em;
        width:40em;
        left: 15em;
        top: 10em;
        }

    .hero .text-hero {
        position: absolute;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 35em;
        right: 25em;

        font-size: 2em;
    }

    .hero #hero-btn{
        font-size: 2rem;
        padding: 1rem;
        border-radius: 2rem;
        margin-top: 4rem;
        font-family: "Montserrat", sans-serif;
        color: whitesmoke;
        background-color:transparent;     
        text-shadow: 0.4px 0.4px gray;
        cursor: pointer;
        transition: 0.6s;
    }

    .hero .text-hero h1{
        padding-left: 1.5rem;
        color: white;
        font-size: 60px;
        margin-bottom: 11px;
        font-family: "Truculenta", sans-serif;
        text-shadow: 1.5px 1.5px goldenrod;
        
    }

    #menu-logo-div{
        padding-top: 2em;
    }
}

@media screen and (min-width: 1300px) {
  
    #page {
        grid-template-rows: 0.1fr 3fr 0.2fr;
    }

    #main {
        align-items: normal;
        grid-template-columns: repeat(3, minmax(20em, 30em));

    }

    #page {
    grid-template-rows: 0px 1fr 400px;
   }

    header{
    height: 10em;
    }

    #main-link{
        left: 10em;
        top: 2em;
    }

    #login-cart-div{
        left: 104em;
        top: 1em;
    }

    .search{
        left: 45em;
        top: 1em;
    }

    .hero{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15rem;
        align-items: center;
        flex-direction: row-reverse;
        height: 100vh;
        background-color: #000000;
        width: 100%;
    }

  
    #animatedProduct img {
        position:absolute;
        left:0;
        height:40em;
        width:40em;
        left: 13em;
        bottom: 55em;
        top: 10em;
        }

    .hero .text-hero {
        position: absolute;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 35em;
        right: 25em;

        font-size: 2em;
    }

    .hero #hero-btn{
        font-size: 2rem;
        padding: 1rem;
        border-radius: 2rem;
        margin-top: 4rem;
        font-family: "Montserrat", sans-serif;
        color: whitesmoke;
        background-color:transparent;     
        text-shadow: 0.4px 0.4px gray;
        cursor: pointer;
        transition: 0.6s;
    }

    .hero .text-hero h1{
        padding-left: 1.5rem;
        color: white;
        font-size: 60px;
        margin-bottom: 11px;
        font-family: "Truculenta", sans-serif;
        text-shadow: 1.5px 1.5px goldenrod;
        
    }
}