* {
    box-sizing: border-box;
    font-family: "Protest Revolution", sans-serif;

}


:root {
    --color-50:  #fbf6fd;
    --color-100: #f6edfa;
    --color-200: #eddaf4;
    --color-300: #e0bdea;
    --color-400: #cf95dd;
    --color-500: #b76bca;
    --color-600: #9a4baa;
    --color-700: #823c8f;
    --color-800: #6c3375;
    --color-900: #5b2e61;
    --color-950: #39143e;
}

#page{
    display: grid;
    grid-template-areas: "head head"
                        "main main"
                        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.3fr 2fr 0.7fr;
    margin: 0%;
    padding: 0%;
}
/* ----------------------------------------------------------------------------------- */
/* header */
#header{
    grid-area: head;
    /* display: grid; */
    /* grid-template-areas: "top-head"
                        "bottom-head" ; */
    
}
#top-head{
    /* grid-area: head; */
    background-color: var(--color-900);
    
    
}
#top-navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    
}
#top-navigation ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    /* justify-content: space-between; */
    list-style-type: none;
    margin-left: 0%;
    margin-top: 1%;
    padding: 0%;
    
}
#logo-li img{
    width: 200px;
    
}
#top-navigation ul li{
    margin-right: 10px;
    
}
.button-top{
    margin-top: 30px;
}
#search-box{
    margin-top: 40px;
    width: 400px;
    height: 30px;
    border-radius: 20px;
    font-size: 15pt;
    font-family:  "Protest Revolution", sans-serif;

}
#search-icon{
    margin-top: 41px;
    width: 26px;
    
}
#search-icon:hover{
    width: 32px;
    
}
#cart-icon{
    margin-top: 41px;
    width: 26px;
}
#login-button{
    margin-left: 100px;
}

  /* Top Buttones */
  .button-top {
      background-color: var(--color-300);
      border: 0 solid var(--color-300);
      border-radius: 1.5rem;
      box-sizing: border-box;
      color: #0d172a;
      cursor: pointer;
      display: inline-block;
      font-family: "Protest Revolution", sans-serif;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1;
      padding: 21px 16px;
      text-align: center;
      text-decoration: none #0d172a solid;
      text-decoration-thickness: auto;
      transition: all .1s cubic-bezier(.4, 0, .2, 1);
      box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      
  }
  

  .button-top:hover {
      background-color: #1e293b;
      color: #fff;
  }

  @media (min-width: 768px) {
      .button-top {
          font-size: 1.125rem;
          padding: 1rem 2rem;
      }
  }


/* ----------------------------------------------------------------------------------- */
/* main */


#main{
    grid-area: main;
    display: grid;
    grid-template-areas: "left-main right-main";
    grid-template-columns: 0.4fr 3fr;
}
/* left main */
#left-main{
    grid-area: left-main;
    background-color: var(--color-300);

}
h3 {
    font-weight: bolder;
    font-size: 21pt;
    transition: transform 0.2s ease;
}

h3:hover{
    transform: translateY(5px);
}
.products-labels {
    font-size: 15pt;
    
}

 /* products division */
#products-div{
    border-bottom: 2pt solid  #39143e;
    padding-bottom: 23px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.products-checkboxes{
    height: 19px;  /*@ meida queries make the width auto*/
}
/* } prices division */
#prices-div{
    border-bottom: 2pt solid #39143e;
    padding-bottom: 23px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.prices-labels{
    font-size: 15pt;
}
.prices-rd{
    height: 19px;
}

/* brands division */
#brands-div{
    border-bottom: 2pt solid #39143e;
    padding-bottom: 23px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.brands-labels{
    font-size: 15pt;
}
.brands-checkboxes{
    height: 19px;
}

/* ----------------------------------------------------------------------------------- */
/* footer */

#footer{
    grid-area: footer;
    display: grid;
    grid-template-areas: "left-footer right-footer" ;
    grid-template-columns: 0.4fr 3fr;

}
/* left-footer */

#left-footer{
    grid-area: left-footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--color-300);
}

.social-media-labels{
    font-size: 15pt;
}
.social-media-icons{
    height: 20px;
}

/* right footer */
#right-footer{
    grid-area: right-footer;
    background-color: var(--color-900) ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


#about-head{
    margin-left: 600px;
    margin-top: 0;
    transition: transform 0.2s ease;
}
#about-para{
    margin-left: 498px;
    margin-top: 0;
    color: var(--color-300);
}
#about-head:hover{
    transform: translateY(5px);
}
#about-para:hover{
    font-size: 24pt;
    margin-left: 350px;
}
#motto-head{
    margin-left: 575px;
    margin-top: 0;
    transition: transform 0.2s ease;
}

#motto-head:hover{
    transform: translateY(5px);
}
#motto-para{
    margin-left: 535px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-300);
}
#motto-para:hover{
    font-size: 24pt;
    margin-left: 400px;
}


/*--------------------------------- LOGIN PAGE CSS ---------------------------------------------*/
